.treasureMapSection {
  min-height: 100vh;

  h1 {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    background: white;
    color: black;
    width: 35%;
    font-family:'Impact', sans-serif !important;
    letter-spacing: 2px;
  }
}
